@model Chat

        <div class="chat-body">
            @foreach(var message in Model.Messages){
            <div class="message">
                <header>@message.Name</header>
                <p>@message.Text</p>
                <footer>@message.Timestamp</footer>
            </div>
            }
        </div>
        <form class="chat-input" asp-controller="Home" asp-action="CreateMessage">
            <input type="hidden" name="chatId" value="@Model.Id"
            <input type="text" name="message" id="message" />
            <input type="button" id="sendBtn" value="Send" />
        </form>