@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager

<ul class="navbar-nav">
	@if (signInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<font style="font-weight" color="#007bff">@User.Identity!.Name</font>
			</a>
			<ul class="dropdown-menu" aria-labellebly="navbarDropdown">
				<li>
					<a class="dropdown-item" asp-action="Logout" asp-controller="Account">
						Logout
					</a>
				</li>
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
</ul>